body{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    background-size: cover;
}
/* fonts for scores */
.score {
    color: white;
    font-size: xx-large;
    text-decoration: underline;
    font-weight: bold;
    background-color: slategray;
    justify-content: center;
    filter: opacity(95%);
    width: 15vw;
    height: 5vh;
    border-radius: 10%;
}
#title {
    display: grid;
    grid-row: 1;
    grid-column: 5;
    color: white;
    font-size: xx-large;
    text-decoration: underline;
    font-weight: bold;
    background-color: slategray;
    justify-content: center;
    filter: opacity(95%);
    width: 20vw;
    height: 5vh;
    border-radius: 10%;
    margin-left: -20px;
}
#userScoreDisplay {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    margin-left: 30px;
}
#cardDisplay{
    display: grid;
    grid-row: 3;
    grid-column: 1;
    margin-left: 80px;
}
#computerScoreDisplay {
    display: grid;
    grid-row: 2;
    grid-column: 9;
}
#computerCard{
    display: grid;
    grid-row: 3;
    grid-column: 9;
    margin-left: 60px;
}
#start{
    display: grid;
    grid-row: 3;
    grid-column: 5;
    margin-left: 65px;
}
#draw {
    display: grid;
    grid-row: 6;
    grid-column: 5;
}
#stay {
    display: grid;
    grid-row: 6;
    grid-column: 6;
}
button {
    height: 5vh;
    width: 7vw;
    border-radius: 10%;
}
.images > img {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 15vh;
}
#winner {
    grid-row: 5;
    grid-column: 3/8;
    margin-left: 20px;
    font-size: 300%;
    text-decoration: underline;
    color: white;
    justify-self: center;
}
#newButton {
    display: grid;
    grid-row: 8;
    grid-column: 5;
    margin-top: 50px;
    margin-left: 50px;
}